@model JsonMVC.Models.NewJsonItem

@{
    ViewData["Title"] = "Index";
}

<h2>Yeni JSON verisi oluştur</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" id="jsonForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div id="code-editor"></div>
                <input asp-for="Data" class="form-control" style="display:none;" />

                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" onclick="submitForm()" value="Kaydet" class="btn btn-default" />
            </div>
        </form>


    </div>
</div>

@section Scripts{
    <style>
        .CodeMirror {
            border: 1px solid #eee;
        }
    </style>
    <script>
        var editor = CodeMirror(document.getElementById('code-editor'), {
            mode: 'javascript',
            lineNumbers: true
        });

        function submitForm() {
            document.getElementById("Data").value = editor.getValue();
            document.getElementById("jsonForm").submit();
        }

                    //$(document).ready(function () {
                    //    $("#btnSubmit").click(function () {
                    //        var jsonData = "\"{\n\tdata: {'key':'value'}\n}\"";
                    //        $.ajax({
                    //            url: "/Store/Deneme",
                    //            type: "POST",
                    //            data: '{"key_updated":"value_updated"}',
                    //            contentType: "application/json; charset=utf-8",
                    //            dataType: "json",
                    //            success: function (data, textStatus, jqXHR) {
                    //                console.log('success '+data);
                    //            }
                    //        });

                    //    });
                    //});
    </script>
}
